.emp-container {
  display: flex;
  height: 100vh;
  font-family: Arial;
}

.sidebar {
  width: 220px;
  background: #111;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar a {
  color: white;
  text-decoration: none;
  margin: 10px 0;
}

.sidebar a:hover {
  background: #333;
  padding: 5px;
}

.emp-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.topbar {
  background: #f5f5f5;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
.topbar span{
    color: #000;
}
.topbar button{
    background-color: #da0000;
}
.emp-content {
  padding: 20px;
}

button {
  padding: 10px 15px;
  cursor: pointer;
}