.report-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.report-card {
  width: 500px;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.report-card h2 {
  text-align: center;
  margin-bottom: 15px;
}

.report-card textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  color: #0056b3;
}

.report-card textarea::placeholder{
    color: #0056b3;
}

.report-card button {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.report-card button:hover {
  background: #0056b3;
}

.msg {
  text-align: center;
  margin-top: 10px;
  color: green;
}
