.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.profile-card {
  width: 400px;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

.profile-card h2 {
  text-align: center;
  margin-bottom: 15px;
  color: black;
}

.profile-card p {
  font-size: 16px;
  margin: 8px 0;
  color: aquamarine;
}
