.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid black;
  padding: 8px;
}

button {
  padding: 6px 10px;
  cursor: pointer;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  width: 60%;
  max-height: 80vh;
  overflow-y: auto;
  color: black;
  border-radius: 12px;
}

.close{
    background-color: red;
    border-radius:9px;
    color: #fffdfd;
    font-weight: bold;
    margin-top: 12px;
}